.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(#000, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 72%;
  height: 72%;
  background: rgba(#fcfcfc, 0.9);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
  header {
    position: relative;
    min-height: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    .title {
      text-align: center;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 36px;
    }
  }
  .content {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative; /* need this to position inner content */
    overflow-y: auto;
  }
  footer {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
