.YaolingEntry {
  display: flex;
  align-items: center;
  height: 48px;
  width: 144px;

  margin: 4px 0;
  // border-style: solid;
  // border-width: 1px;
  padding: 0 0.5em;
  .avatar {
    width: 32px;
    height: 32px;

    border-radius: 50%;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
  }
  .name {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-grow: 1;
  }
  .checkbox {
  }
}

.YaolingEntry.checked {
  background: #cccccc;
}

.YaolingGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  > br {
    width: 100%;
    content: "";
    border-width: 0.5px;
    border-color: #000000;
    border-style: dashed;
  }
}

.YaolingFilterButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 40px;

  div {
    flex-grow: 1;
    text-align: center;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
  }
}
